// **************************************
// utilities/_variables.scss
// Project variables
// **************************************

// -----------------------
// FONT VARIABLES
// -----------------------
$primary-font-stack: 'Roboto', sans-serif;


// -----------------------
// DEFAULT COLOR VARIABLES
// -----------------------
$primary-color: #7477bf;
$secondary-color: #81c98f;
$tertiary-color: #74b1bf;


// -----------------------
// TEXT COLOR VARIABLES
// -----------------------
$white-color: #fff;
$dashboard-tab-text-color: #6e6d6d;
$input-placeholder-text-color: #bababa;
$primary-text-color: #666666;
$line-chart-tab-inactive-text-color: #8f8f8f;
$chart-axis-label-text-color: #a5a5a5;


// -----------------------
// HEADER COLOR VARIABLES
// -----------------------
$header-division-line-color: #5d61bf;


// -----------------------
// PRIMARY NAVIGATION COLOR VARIABLES
// -----------------------
$primary-nav-color: #4d4c72;
$primary-nav-item-inactive-color: #a6a6b9;


// -----------------------
// SECONDARY NAVIGATION COLOR VARIABLES
// -----------------------
$secondary-nav-color: #fbfbfb;


// -----------------------
// BUTTON COLOR VARIABLES
// -----------------------
$primary-button-color: #7477bf;
$secondary-button-color: #b2b2b2;


// -----------------------
// BREAKPOINT VARIABLES
// -----------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;


// -----------------------
// BORDER COLOR VARIABLES
// -----------------------
$primary-border-color: #dfdfdf;
$secondary-border-color: #e9e9e9;


// -----------------------
// SOCIAL CARD VARIABLES
// -----------------------
$social-card-background-color: #fbfbfb;
$social-card-border-color: #e7e8e7;


// -----------------------
// INPUT VARIABLES
// -----------------------
$input-background-color: #fbfbfb;


// -----------------------
// NOTIFICATION VARIABLES
// -----------------------
$notification-background-color: #4d4c72;