// **************************************
// components/_daily-traffic-chart.scss
// Common chart styles
// **************************************

.chart-header {
    width: 100%;
    @include text(
        $size: 1.1rem,
        $weight: 400,
        $color: $primary-text-color,
        $line-height: null
    );
    text-transform: uppercase;
    flex: 1;

    @include media-query($breakpoint: $tablet-breakpoint) {
        font-size: .8rem;
    }
}

.card-container {
    max-width: 100vw;
    @include media-query($breakpoint: $desktop-breakpoint) {
        max-width: initial;
    }
    padding: 20px;
}

.chart-container {
    position: relative;
}
