// **************************************
// components/_daily-traffic-chart.scss
// Daily Traffic Chart styles
// **************************************

#traffic-container {
    grid-column: 1 / -1;
    border-bottom: 1px solid $primary-border-color;
}

#traffic-header-container {
    display: flex;
    align-items: center;

    // #traffic-header-container ul
    ul {
        display: flex;

        // #traffic-header-container ul li
        li {
            display: inline-block;
            @include text(
                $size: 0.7rem,
                $weight: 500,
                $color: $line-chart-tab-inactive-text-color,
                $line-height: null
            );
            padding: 5px 10px;

            // &:first-child {
            //     padding-left: 0;
            // }

            // &:last-child {
            //     padding-right: 0;
            // }
        }
    }
}

#traffic-selector-active {
    color: $white-color !important;
    background-color: $secondary-color;
    border-radius: 50px;
}
