// **************************************
// components/_dashboard.scss
// Dashboard styles
// **************************************

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);

    @include media-query($breakpoint: $desktop-breakpoint) {
        grid-template-columns: 1fr 1fr;
    }
}