// **************************************
// components/_dashboard.scss
// Dashboard styles
// **************************************

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
}


/* -----------------------
SECONDARY NAVIGATION
----------------------- */
#secondary-nav-container {
    display: flex;
    height: 50px;
    background-color: $secondary-nav-color;
    grid-column: 1 / -1;
}

#secondary-nav-tab {
    display: flex;
    align-items: center;
    background-color: $white-color;

    // #secondary-nav-tab-text
    &-text {
        @include text($size: 1rem, $weight: 400, $color: $dashboard-tab-text-color, $line-height: null);
        padding: 0 20px;
    }
}

#search-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    border-left: 1px solid $primary-border-color;
    border-bottom: 1px solid $primary-border-color;
    position: relative;
}

#dashboard-search {
    height: 30px;
    width: 250px;
    border: 1px solid $primary-border-color;
    border-radius: 6px;
    margin-right: 20px;
    padding-left: 10px;
    @include text($size: .8rem, $weight: 400, $color: $primary-text-color, $line-height: null);

    // #dashboard-search::placeholder
    &::placeholder {
        font-weight: 300;
        color: $search-bar-placeholder-text-color;
    }
}

#search-bar-icon {
    height: 15px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}









/* -----------------------
ALERT BANNER
----------------------- */
#alert-banner-container {
    background-color: $primary-color;
    border-radius: 6px;
    margin: 20px;
    grid-column: 1 / -1;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        height: 15px;
    }
}

#alert-banner {

    // #alert-banner-title
    &-title {
        display: inline-block;
        font-weight: 400;
        padding-right: 10px;
    }

    // #alert-banner-message
    &-message {
        display: inline-block;
        @include text($size: 0.8rem, $weight: 300, $color: $white-color, $line-height: 1rem);
        padding: 10px 50px 10px 10px;
    }
}