// **************************************
// components/_traffic-chart.scss
// Traffic chart styles
// **************************************

#traffic-container {
    @extend %full-width-grid-item;
}

#traffic-header-container {
    @include flex-container($justify-content: null, $align-items: center);
    flex-direction: column;


    @include media-query($breakpoint: $tablet-breakpoint) {
        flex-direction: row;
    }

    // #traffic-header-container ul
    ul {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-right: 20px;

        @include media-query($breakpoint: $tablet-breakpoint) {
            padding-top: 0;
        }

        // #traffic-header-container ul li
        li {
            display: inline-block;
            @include text(
                $size: .8rem,
                $weight: 500,
                $color: $line-chart-tab-inactive-text-color,
                $line-height: null
            );
            padding: 5px 10px;

            @include media-query($breakpoint: $tablet-breakpoint) {
                font-size: .7rem;
            }

            // &:first-child {
            //     padding-left: 0;
            // }

            // &:last-child {
            //     padding-right: 0;
            // }
        }
    }
}

#traffic-selector-active {
    color: $white-color !important;
    background-color: $secondary-color;
    border-radius: 50px;
}
